@import "tailwindcss";

html{
    font-family: "Fira Sans", sans-serif;
}
html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.carousel-wrapper::before,
  .carousel-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: 10;
    pointer-events: none;
  }

  .carousel-wrapper::before {
    left: 0;
    background: linear-gradient(to right, white, transparent);
  }

  .carousel-wrapper::after {
    right: 0;
    background: linear-gradient(to left, white, transparent);
  }
  